@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-4;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-purple-500 rounded-lg h-16 border-4 border-solid border-transparent bg-clip-content;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }
  html {
    scroll-behavior: smooth;
  }
  * {
    @apply transition-all duration-300;
  }
}

@layer components {
  .transition-custom-300 {
    @apply transition-all duration-300;
  }
  .link {
    @apply p-2 text-gray-800 dark:text-gray-200 border-b-2 border-transparent hover:border-b-2  hover:border-gray-800 dark:hover:border-gray-200;
  }
  .link-rounded {
    @apply p-2 text-gray-800 dark:text-gray-200 border-2 border-transparent rounded hover:border-2 hover:border-gray-800  dark:hover:border-gray-200 active:border-2 active:border-gray-900 dark:active:border-gray-200;
  }
  .btn {
    @apply bg-purple-600 dark:bg-purple-500 text-gray-200 dark:text-gray-800 hover:underline hover:bg-purple-500 dark:hover:bg-purple-600 hover:text-gray-800 dark:hover:text-gray-200 active:ring active:ring-offset-2 active:ring-offset-gray-200 dark:active:ring-offset-gray-800 active:ring-purple-600 dark:active:ring-purple-500 rounded text-center font-bold border-2 border-transparent shadow;
  }
  .btn-outline {
    @apply text-purple-600 dark:text-purple-500 border-purple-600 dark:border-purple-500 hover:underline hover:bg-purple-500 dark:hover:bg-purple-600 hover:text-gray-800 dark:hover:text-gray-200 active:ring active:ring-offset-2 active:ring-offset-gray-200 dark:active:ring-offset-gray-800 active:ring-purple-600 dark:active:ring-purple-500 rounded text-center font-bold border-2 shadow;
  }
  .btn-to-top {
    @apply bg-gray-800 dark:bg-gray-200 text-gray-200 dark:text-gray-800 hover:underline hover:bg-purple-500 dark:hover:bg-purple-600 hover:text-gray-800 dark:hover:text-gray-200 rounded text-center font-bold shadow;
  }
  .btn-social-media {
    @apply bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 hover:underline hover:bg-purple-600 dark:hover:bg-purple-500 hover:text-gray-200 dark:hover:text-gray-800 rounded text-center font-bold shadow;
  }
}
